<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <!-- update the title to use the app interface -->
    <h1>Welcome to {{ app.title }}!</h1>
</div>

<h1>ToDo List</h1>
<ul>
    <!-- Use *ngFor to look through an array -->
    <li *ngFor="let todo of todos">{{ todo }}</li>
</ul>

<!-- use a form to add to the todo list -->
<!-- to use an event use () submit, click are popular but any event can be used -->
<form (submit)="addTodo(newTodo)">
    <!-- ngModel is 2 way binding and required [()] -->
    <!-- be sure to import FormsModule -->
    <input type="text" name="newTodo" [(ngModel)]="newTodo">
    <button type="submit">Add</button>
</form>
